.button-container {
  .rippleContainer {
    width: 200px;
    height: 48px;
    border-radius: 10px;
    overflow: hidden;
  }
  z-index: 0;
  position: relative;
  width: 200px;
  transition: all 0.3s ease-in-out;
  top: 0;
  border-radius: 10px;
  height: 48px;
  &:hover {
    top: -3px;
  }
  &:before {
    content: '';
    background-image: linear-gradient(44deg, #6fc799 0%, #8fd577 100%);
    opacity: 30%;
    height: 100%;
    display: block;
    width: calc(100% - 20px);
    position: absolute;
    top: 4px;
    left: 10px;
    border-radius: 10px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
  &:hover:before {
    opacity: 25%;
    top: 5px;
  }
  &:after {
    content: '';
    background-image: linear-gradient(44deg, #6fc799 0%, #8fd577 100%);
    opacity: 15%;
    height: 100%;
    display: block;
    width: calc(100% - 40px);
    position: absolute;
    top: 8px;
    left: 20px;
    border-radius: 10px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
  &:hover:after {
    opacity: 10%;
    top: 10px;
  }
}

.button {
  border: 0;
  background-image: linear-gradient(44deg, #6fc799 0%, #8fd577 100%);
  border-radius: 10px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  width: 200px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  &:focus {
    outline: 0;
  }
}
